@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

body {
    margin: 0;
    padding: 0;
    height: 100%;
}



li {
    display: inline-block;
    list-style: none;
}


a{
    text-decoration: none;
}


/*------------------------------------------------------------------------ */

/* Header */
.header_logo img{   
    width: 221px;
    display: flex;
    margin:22px  auto ;
    
    
    }

.menu_overlay {
    display: block;
}

 /* Premier Menu */
.nav_list_top {
    position: absolute;
    list-style: none;
    height: 15px;
    left: 67%;
    top:3%;
    letter-spacing: 0.342857px;

    color: #003B5C;
    
    font-family: "HK Grotesk";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;

}

.nav_link {

    text-decoration: none;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 60px;

}

.line{
    border: 1px solid #E5DBD1;;
    width: 100%;
    
}

/*Deuxième  menu */

    .nav_list_mid{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #003B5C;
    
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    left: 80px;
}

    .nav_link {
    margin: 0 10px;
   
}


/*-------------------------------------------------------------------- */

/*Section 1 */

.first_section{
    
   /* justify-content: center;*/
    margin-bottom: 230px;
    
}

.image_wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    gap: 30px;
}

.cadre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

}

/*First Article */


.article_left{
   display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-20%);

}

.image_article_left{
    width: 736px;
    height: 475px;
}


 .zone_de_texte_gauche{

    width: 520px;
    
 
    background-color: white; 

 }

 .texte_gauche{
     display: flex;
     justify-content: center;
 }

 .titre_description{
   font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #003B5C ;
 } 

 .texte_gris{
    font-family: "HK Grotesk";
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.4000000059604645px;
    text-align: center;
    color: #E5DBD1

 }

 .gros_titre{
    justify-content: center;
    font-family: "Libre Baskerville";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #003B5C;
    width: 90%;
    margin: 0px;*/
 }

 .texte_principal{
        justify-content: center;
        align-items: center; 
    }

    .texte{
        text-align: center;
        font-family: "Libre Baskerville";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: center;
        color: #5D534F; */
        
    
    }



    .next{
        justify-content: center;
        flex-direction: row;
        align-items: center; 
    }

    .next_fleche{
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0.39896801114082336px;
    text-align: center;
    color: #E74832; 
    }
    

/* Section 1 PT2 */

    .article_right{
       /* height:335px; */
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(-68%,-53%);
    
    }

    .image_article_right{
        width: 519px;
        height: 335px;
    }

    
    .zone_de_texte_droite{

       display: flex;
        justify-content: center; 
        flex-direction: column;
        width: 480px;
        background-color:white; 
    }

    .texte_droite{
       display: flex;
        justify-content: center; 
    }

    .titre_description2{
       font-family: "HK Grotesk";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        color: #003B5C ;
    }

    .whisky_texte{
        font-family: "HK Grotesk";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        color: #5D534F;
    }
    

     .gros_titre2{
        justify-content: center;
        font-family: "Libre Baskerville";
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: -0.4000000059604645px;
        text-align: center;
        color: #003B5C;
        width: 99%;
    
    }


    .texte2{
      width: 490px;
        text-align: center;
        font-family: "Libre Baskerville";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.4000000059604645px;
        text-align: center;
        color: #5D534F; 
    }




    

    .next2{
        justify-content: center;
        flex-direction: row;
        align-items: center;

    }

    .next_fleche2{
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.39896801114082336px;
        text-align: center;
        color: #E74832;

    }


/*---------------------------------------------- */


    
    .separation_category{
        border: 1px solid #E5DBD1;
        width: 42%;
        margin: 0px 1% 0px 1%;
        border: none;
        border-top: 3px double #E5DBD1;;
        overflow: visible;
        text-align: center;
        height: 5px;
    }

    .separation{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nom_category{
        font-family: "HK Grotesk";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
    color: #003B5C;

    border-width:1px;
    border-style:solid;
    border-color:#E5DBD1;;

    box-shadow: 6px 6px 0px #E5DBD1;

    }

    .sous_categorie{
        position: relative;
        margin-bottom: 20px;

    }

    .choix_sous_categorie{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: HK Grotesk;
        font-style: normal;
        font-weight: 600;
        font-size: 12.031px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 0.4px;
        color: rgba(93, 83, 79, 0.6);
        text-decoration: none;
        

    

    }

    .sous_categorie1{
        margin: auto 10px;
        text-align: center;
        align-items: center;

    }


    .tout_voir_container{
      position: absolute;
      left: 90%;
    }



    .tout_voir_item{
     font-family: "HK Grotesk";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.398968px;
    color: #F24922;
    }

  .liste_rubrique {
        margin-bottom: 30px;
        
      

    } 

    .article_categorie{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .image{
        height: 282px;
        width: 422px;
    }

    .image_article {

        display: flex;
        flex-direction: column;
        width: 422px;
 

    }



    .titre_categorie{
        font-family: "HK Grotesk";
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 15px;
        /* letter-spacing: 0.4000000059604645px; */
        color: #003B5C ;
    }
    
    /* .article_titre{
        display: flex;
        justify-content: center;

    } */

    .titre{
        
        font-family: "Libre Baskerville";
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 31px;
        /* letter-spacing: -0.4px; */
        color: #003B5C;
        /*text-align: justify ; */
        

    }

    /*.next_article{
        display: flex;
   
        flex-direction: row;


    } */

    .arrow_article{
        font-size: 12px;
        font-style: normal;
        font-family: "HK Grotesk";
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.39896801114082336px;
       /* text-align: center; */
        color: #E74832;

    }

    



.filigrane_section{
    height: 456px;
    display: flex;
    justify-content: center;
}

.content{
    margin-top: 70px;
    text-align: center;
}

.titre_newsletter{
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.866667px;

color: #FFFFFF;
}

.desc_newsletter{
    font-family: "Libre Baskerville";
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 31px;
text-align: center;
letter-spacing: -0.4px;
color: #FFFFFF;
}

.btn{
    
        display: inline-block;
        text-transform: uppercase;
        font-size: 15px;
        text-decoration: none;
        color: black;
        padding: 15px 10px;
        letter-spacing: 2px;
        background: none;
        border: none;
        font-weight: 400;
        cursor: pointer;
        transition: 0.3s all;
    
}

.btn:hover {
    transition: 0.3s all;
}

.btn-3D {
    
    border: 1px solid #E5DBD1;
    width: 42%;
    margin: 0px 1% 0px 1%;
    background: white;
    box-shadow: 6px 6px 0px #E74832;;
}

.newsletter_boutton{
    padding-top: 20px;
}






footer{
    width: 100%;
    background: rgba(231, 72, 50, 1);
    height: 390px;
    color: white;

}

.footer_main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 65px;
    padding-bottom: 45px;
}

.logo_foot{
    width: 285px;
    height: 138px;
}



.categorie{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height, or 118% */
    font-family: HK Grotesk;

    letter-spacing: -0.55px;

    color: #FFFFFF;

}

.texte_liste{
font-style: bold;
font-weight: normal;
font-size: 12.031px;
line-height: 15px;
letter-spacing: 0.4px;
text-decoration: none;
color: #FFFFFF;
text-transform: uppercase;
font-family: "HK Grotesk";

}

.liste_footer{
    display: grid;
}

.btn1{
    Width: 179px;
    display: flex;
    text-decoration: none;
    color: white;
    background: #E74832;
    transition: 0.5s;
    box-shadow: 4px 4px 0 white;
    border: 1px solid white;
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: center;
     }

     .img_footer{
         width: 12px;
         height: 22px;
     }

.img_footer1{
    width: 23px;
    height: 17px;
}

.img_footer2{
    width: 17.3px;
    height: 17.3;
}

.icon{
    margin-left: 15px;
}

.hr{
    margin-left: 45px;
    margin-right: 45px;
}

.CGU{
    float: left;
    margin-left: 45px;
    font-style: normal;
    font-weight: normal;
    font-family: "HK Grotesk";
    font-size: 12.031px;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #FFFFFF;

}
.copyright{
    float: right;
    margin-right: 45px;
    font-style: normal;
    font-weight: normal;
    font-family: "HK Grotesk";
    font-size: 12.031px;
    line-height: 15px;
    letter-spacing: 0.4px;
    text-transform: uppercase;

    color: #FFFFFF;

}


}
/* Laptop */
@media screen and (min-width: 1024px) and (max-width: 1439px) {

}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .article_left{
        display: flex;
         flex-direction: column;
         text-align: center;
         position: absolute;
         top: 50%;
         left: 35%;
         transform: translate(-60%,-20%);
     
     }

     .article_right{
        /* height:335px; */
         display: flex;
         flex-direction: column;
         text-align: center;
         justify-content: center;
         position: absolute;
         left: 74%;
         margin-top: 100px;
         
     
     }
    
     .line{
         display: flex;
         margin-left: 15 px;
     }
    
    
    .image_article_left{

        width: 550px;
        height: 300px;
    
        }
    
        .image_article_right{
            width: 350px;
            height: 250px;
        }

        .gros_titre{
            justify-content: center;
            font-family: "Libre Baskerville";
            font-size: 26px;
            font-style: normal;
            font-weight: 400;
            line-height: 39px;
            letter-spacing: -0.4000000059604645px;
            text-align: center;
            color: #003B5C;
            width: 90%;
            margin: 0px;*/
         }
        
         .texte_principal{
                justify-content: center;
                align-items: center; 
            }
        
            .texte{
                text-align: center;
                font-family: "Libre Baskerville";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: -0.4000000059604645px;
                text-align: center;
                color: #5D534F; */
                
            
            }
            .titre_description2{
                font-family: "HK Grotesk";
                 font-size: 12px;
                 font-style: normal;
                 font-weight: 600;
                 line-height: 15px;
                 letter-spacing: 0.4000000059604645px;
                 text-align: center;
                 color: #003B5C ;
             }
         
         
              .gros_titre2{
                 justify-content: center;
                 font-family: "Libre Baskerville";
                 font-size: 26px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 39px;
                 letter-spacing: -0.4000000059604645px;
                 text-align: center;
                 color: #003B5C;
                 width: 99%;
             
             }
         
         
             .texte2{
               width: 490px;
                 text-align: center;
                 font-family: "Libre Baskerville";
                 font-size: 15px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 28px;
                 letter-spacing: -0.4000000059604645px;
                 text-align: center;
                 color: #5D534F; 
             }
    
    
        .image{
            
                height: 200px;
                width: 300px;
            
        }
    

}

/* Mobile L */
@media screen and (min-width: 425px) and (max-width: 767px) {
    .content{
        margin-top: 20px;
        text-align: center;
    }





    .image_article_left{

        width: 550px;
        height: 300px;
        margin-bottom: 40px;
        }

    .image_article_right{
            width: 250px;
            height: 220px;
            margin-top: 0px;
        }


     
    .image_wrapper{
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        gap: 30px;
    }

    .article_left{
        display: flex;
         flex-direction: column;
         text-align: center;
         position: absolute;
         top: 30%;
         left: 35%;
         transform: translate(-60%,-10%);
     
     }

    
    .article_right{
         height:120px; 
         display: flex;
         flex-direction: column;
         text-align: center;
         justify-content: center;
         position: absolute;
         left: 74%;
         transform: translate(-60%,-10%);
         
     
     }

     .zone_de_texte_droite{

        display: flex;
         justify-content: center; 
         flex-direction: column;
         width: 480px;
         height: 360px;
         background-color:white; 
     }

     

    .image{
        
        height: 400px;
        width: 800px;
    
}

    .article_categorie{
        display: block;
        flex-direction: row;
        justify-content: center;

}

/* Mobile M */
@media screen and (min-width: 375px) and (max-width: 424px) {
    #pasfini

}

/* Mobile S */
@media screen and (min-width: 320px) and (max-width: 374px) {
    #pasfini
}